/* ================================
          Fonts
=================================*/
  @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Patrick+Hand&family=Poppins:wght@500&family=Roboto&display=swap');
/* ================================
          Common css
=================================*/
body{
  font-family: 'Oswald', sans-serif;
  font-family: 'Patrick Hand', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
 
}
section{
  margin-bottom: 100px;
}

h1{
  font-size:52px;
}
h2{
  color:#18191F;
}

/* ================================
          Header area
=================================*/
.header_top{
  display: flex;
  justify-content:space-between;
 
}
.header_heading p{
  color: #3A3A3A;
  margin-left: 100px;
  
}
.navigation{
  margin-top:50px;
  margin-right:80px;
}
.navigation ul{
  list-style-type:none;
}
.navigation ul li{
  display:inline-block;
  margin-right: 10px;
  font-size: 16px;
}
.navigation ul li a{
  text-decoration:none;
}

.header_area{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}
.header_details{
  margin-left: 100px;
}
.button{
  background-color: #E02C6D;
  color:white;
  padding:10px 20px;
  border-radius:20px;
  text-decoration: none;
  font-weight: bold;
}
.fa-arrow-right{
  margin-left:5px;
 
}
.header_photo{
  width:100%;
  margin-left: 100px;
}
/*================================
          Product-area
=================================*/
 .products{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-left: 100px;
  grid-column-gap:30px;
  grid-row-gap:30px;
}
.product_heading{
  text-align: center;
  padding-bottom: 50px;
}
.product{
  width:320px;
  height:460px;
  padding-top:17px;
  padding-left: 15px;
  padding-bottom: 17px;
  border-radius: 5px;
  box-shadow: 3px 2px 20px 8px #e7e7e7;
}
.product_details p{
  color: #787885;
  
}
.fas{
  height: 16px;
  width:16px;
}
.fa-star.fill{
  color: #ffd700;
}
.unfilled{
  color:#ffd700;
}
/*================================
          Footer area
=================================*/
footer{
  background-color: 
  #0A0826;
  height:200px;
  width:100%;
  padding-top:50px;
}

footer h2, p{
  color:white;
  text-align: center;
}